body {
    margin: 0;
    background-image: url(img/paper_bg_light.jpg);
}

canvas {
    display: block;
    margin: 20px auto;
}

.message-container {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    font-family: monospace;
}